.title-tooltip {
  background-color: rgba(255,255,255,.9);
  border: 2px solid #457dfb;
  border-radius: .1em;
  font-size: .7em;
  padding: .25em .5em;
  position: absolute;
  bottom: 2em;
  left: calc(50% - 8em);
  text-align: center;
  width: 16em;
  z-index: 10;
  opacity: 0;
  transform: translateY(-.25em);
  visibility: hidden;
  transition: opacity .2s ease-out,
              visibility 0s .5s,
              transform .5s cubic-bezier(0, 1, .5, 1);
}

.title-tooltip::after {
  content: "";
  border-style: solid;
  border-color: #457dfb transparent;
  border-radius: 0;
  border-width: .2em .2em 0 .2em;
  position: absolute;
  bottom: -.2em;
  left: calc(50% - .2em);
  width: 0;
}

.anchor-tooltip:hover .title-tooltip {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: opacity .2s ease-out,
              transform .5s cubic-bezier(0, 1, .5, 1);
}